.cpcache
.calva
.idea
.lsp
.clj-kondo
*.jar
*.iml
pom.properties
inputFiles.lst
/target
/classes/*
/reports
*.cgi
*.build_artifacts.txt
/bread
/ref
/dist
*.local.edn

/public/js
/node_modules
/target
/.shadow-cljs
/*.iml
/.nrepl-port
/.idea

/resources/editor/js
