.direnv
.envrc
.cpcache
.calva
.env
.idea
.lsp
.clj-kondo/cache
.cache
*.jar
*.iml
*.db
*.so
pom.properties
inputFiles.lst
/target
/classes/*
/*.log
/reports
/scratchpad/
*.cgi
*.build_artifacts.txt
/bread
/bread.dev
/ref
/dist
dthk.edn
*.local.edn

/public/js
/node_modules
/target
/.shadow-cljs
/*.iml
/.nrepl-port
/.idea
/.yarn

/resources/editor/js
/marx/out

*storybook.log
