{:paths ["src"]
 :deps {org.clojure/tools.logging  {:mvn/version "1.1.0"}
        org.clojure/clojure        {:mvn/version "1.10.3"}
        org.clojure/core.async     {:mvn/version "1.5.648"}
        ;; TODO break this out into its own plugin/alias
        io.replikativ/datahike     {:mvn/version "0.3.6"}}
 ;; org.clojure/clojurescript "1.10.891"

 :aliases {:dev
           {:extra-paths ["dev"]
            :extra-deps {jpmonettas/flow-storm     {:mvn/version "0.5.0"}
                         juxt/dirwatch             {:mvn/version "0.2.5"}
                         lambdaisland/kaocha       {:mvn/version "1.64.1010"}
                         markdown-clj/markdown-clj {:mvn/version "1.10.5"}
                         org.clojure/clojurescript {:mvn/version "1.10.891"}
                         org.clojure/core.async    {:mvn/version "1.5.648"}
                         thheller/shadow-cljs      {:mvn/version "2.16.8"}
                         yogthos/config            {:mvn/version "1.1.8"}
                         com.google.javascript/closure-compiler-unshaded
                         {:mvn/version "v20211006"}}}

           ;; REPL must be separate from dev for
           ;; `shadow-cljs -A:dev ...` to work - otherwise Cider complains
           ;; about not being able to find the shadow cli namespace.
           :repl
           {:extra-deps {cider/cider-nrepl   {:mvn/version "0.26.0"}
                         clj-kondo/clj-kondo {:mvn/version "2021.06.01"}
                         nrepl/nrepl         {:mvn/version "0.8.3"}}
            :main-opts ["-m" "nrepl.cmdline"
                        "--middleware" "[cider.nrepl/cider-middleware]"]}

           :tools
           {:extra-paths ["tools"]
            :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.891"}
                         thheller/shadow-cljs      {:mvn/version "2.16.8"}
                         http-kit/http-kit         {:mvn/version "2.3.0"}
                         juji/editscript           {:mvn/version "0.5.7"}
                         rum/rum                   {:mvn/version "0.12.6"}
                         com.google.javascript/closure-compiler-unshaded
                         {:mvn/version "v20211006"}}}

           :flowstorm
           {:extra-deps {jpmonettas/flow-storm-debugger {:mvn/version "0.6.0"}}
            :main-opts ["-m" "flow-storm-debugger.main"]}

           :cms
           {:extra-paths ["plugins" "resources"]
            :extra-deps {http-kit/http-kit           {:mvn/version "2.3.0"}
                         io.replikativ/datahike-jdbc {:mvn/version "0.1.2-SNAPSHOT"}
                         metosin/reitit              {:mvn/version "0.5.12"}
                         mount/mount                 {:mvn/version "0.1.16"}
                         ring/ring                   {:mvn/version "1.7.0"}
                         rum/rum                     {:mvn/version "0.12.6"}}}

           ;; Extra deps for testing supported libraries not shipped with the
           ;; CMS build directly.
           :extra
           {:extra-deps {bidi/bidi {:mvn/version "2.1.6"}}}

           :test
           {:main-opts ["-m" "kaocha.runner"]}

           :build
           {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}
                   slipset/deps-deploy {:mvn/version "0.2.0"}}
            :ns-default build}}}
