;; shadow-cljs configuration
{:deps true
 :dev-http
 {1315 "resources/debugger"}

 :builds
 {;; shadow-cljs -A:dev:tools watch debug
  :debug
  {:target :browser
   :output-dir "resources/debug/js"
   :asset-path "/js"
   :devtools {:watch-dir "resources/debug"}
   :modules {:main ; becomes debug/js/main.js
             {:init-fn systems.bread.alpha.tools.debug/init}}}
  ;; TODO remove this
  :debugger
  {:target :browser
   :output-dir "resources/debugger/js"
   :asset-path "/js"
   :devtools {:watch-dir "resources/debugger"}
   :modules {:main ; becomes debugger/js/main.js
             {:init-fn systems.bread.alpha.tools.debugger/init}}}}}
