;; shadow-cljs configuration
{:deps true
 :dev-http
 {1315 "resources/debug"
  1316 "resources/editor"
  1317 "resources/marx"}

 :builds
 {;; npx shadow-cljs -A:dev:tools:editor watch editor
  :editor
  {:target :browser
   :output-dir "resources/editor/js"
   :asset-path "/js"
   :devtools {:watch-dir "resources/editor"}
   :modules {:ui ; becomes resources/editor/js/ui.js
             {:init-fn systems.bread.alpha.editor.app/init}}}

  ;; npx babel marx/js --out-dir marx/out --watch
  ;; npx shadow-cljs -A:dev:tools:marx watch marx
  :marx
  {:target :browser
   :output-dir "resources/marx/js"
   :asset-path "/js"
   :modules {:ui ; becomes resources/editor/js/ui.js
             {:init-fn systems.bread.alpha.marx.app/init}}}

  ;; TODO separate build for UI testing...?

  ;; npx shadow-cljs -A:dev:tools watch debug
  :debug
  {:target :browser
   :output-dir "resources/debug/js"
   :asset-path "/js"
   :devtools {:watch-dir "resources/debug"}
   :modules {:main ; becomes debug/js/main.js
             {:init-fn systems.bread.alpha.tools.debug.core/init}}}}}
