{:bread/handler #ig/ref :bread/app
 :bread/app {:db false
             :i18n false
             :routes
             {:router #ig/ref :bread/router}
             :plugins []}
 :bread/router
 #router
 [["/:lang"
   [""
    {:name :home
        :bread/dispatcher
        {:dispatcher/type :systems.bread.alpha.cms.scratch/static
         :dispatcher/component
         #var systems.bread.alpha.cms.scratch/home-page}}]
   ["/articles"
    {:name :articles
     :bread/dispatcher
     {:dispatcher/type :systems.bread.alpha.cms.blog/article
      ;; TODO article component
      :dispatcher/component
      #var systems.bread.alpha.cms.scratch/interior-page}}]
   ["/article/:slug"
    {:name :article
     :bread/dispatcher
     {:dispatcher/type :systems.bread.alpha.cms.blog/article
      :dispatcher/component
      #var systems.bread.alpha.cms.scratch/interior-page}}]
   ["/:slug"
    {:name :page
     :bread/dispatcher
     {:dispatcher/type :systems.bread.alpha.cms.scratch/static
      :dispatcher/component
      #var systems.bread.alpha.cms.scratch/home-page}}]]
  {:conflicts nil}]}
