{:app/env :development
 :http {:port #or [#env PORT 1312]
        :handler #ig/ref :bread/handler
        :wrap-defaults #ig/ref :ring/wrap-defaults}
 :ring/wrap-defaults {:kind :site-defaults
                      :session-store #ig/ref :ring/session-store
                      :overrides {[:security :anti-forgery] false
                                  [:session :cookie-name] "bread-session"
                                  ;; https://github.com/ring-clojure/ring/blob/fd08dd8d905bc8062866cfec938c8cbf65afc7b0/ring-core/src/ring/middleware/cookies.clj#L101
                                  [:session :cookie-attrs] {:http-only true
                                                            :secure true
                                                            :max-age 259200 ;; 72h
                                                            :path "/"
                                                            :same-site :strict}}}
 :ring/session-store
 {:store/type :datalog
  :store/db #ig/ref :bread/db
  :max-age 259200
  :secret-key #env BREAD_SECRET_KEY}
 :bread/handler #ig/ref :bread/app
 :bread/app
 {:site {:name "Breadbox"}
  :db #ig/ref :bread/db
  :auth {:protected-prefixes ["/~/"]
         :login-uri "/~/login"
         :forgot-password-uri "/_/forgot"
         :reset-password-uri "/_/reset"
         ;:require-mfa? true
         :min-password-length 4
         :store-session-ip? true
         :store-session-user-agent? true}
  :signup {:invite-only? true}
  :account {:account-uri "/~/account"}
  :i18n {:home-route :home
         :query-global-strings? false
         :supported-langs #{:en :fr :es :ar}
         :fallback-lang :ar}
  :routes {:router #ig/ref :bread/router}
  :components {:not-found #var systems.bread.alpha.cms.theme.crust/NotFoundPage}
  :navigation {:menus {:main-nav
                       {:menu/type :systems.bread.alpha.navigation/location
                        :menu/location :primary
                        :route/name :page}}}
  :marx {:site-name "Breadbox"}
  :email {:dry-run? true
          :smtp-from-email #env SMTP_FROM_EMAIL
          :smtp-host #env SMTP_HOST
          :smtp-port #env SMTP_PORT
          :smtp-username #env SMTP_USERNAME
          :smtp-password #env SMTP_PASSWORD
          :smtp-tls? #env SMTP_USE_TLS}
  :plugins [] ;; define additional plugins here
  :__after #ig/ref :app/env}
 :bread/db
 {:db/type :datahike
  :db/recreate? true
  :db/config {:schema-flexibility :write
              :keep-history? true
              ;; Set one of the following:
              ;; STORE_BACKEND=jdbc
              ;; STORE_BACKEND=mem
              :store #include #join ["db-store." #or [#env STORE_BACKEND "jdbc"] ".edn"]}
  :db/initial-txns
  [
   ,]
  ;; db logs can be noisy, so load logging config first
  :__after #ig/ref :app/log}
 :app/log
 {:min-level [[#{"systems.bread.*"} :debug]
              [#{"datahike.*"} :info]
              [#{"*"} :warn]]}
 :bread/profilers
 [{:profiler/type :hook
   :hook #{:systems.bread.alpha.core/dispatch
           :systems.bread.alpha.core/expand
           :systems.bread.alpha.core/effects!}
   :!action/name #{:systems.bread.alpha.defaults/config
                   :systems.bread.alpha.expansion/expand
                   :systems.bread.alpha.component/hook-fn}
   :f #var systems.bread.alpha.tools.util/log-lifecycle-hook}
  {:profiler/type :expansion
   :expansion #{:systems.bread.alpha.database/query}
   :f #var systems.bread.alpha.tools.util/log-query}]
 #_#_
 :bread/debugger
 {:http
  {:port 1313
   :docroot "public/debugger"
   :middleware [#var systems.bread.alpha.cms.main/wrap-debug]}}}
