:root {
  --sidebar-gutter: 2em;
  --padding-small: 0.3em;
  --text-lighter: #666;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
label.request-label {
  font-weight: bold;
  cursor: pointer;
  font-size: 12px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul > li + li {
  margin-top: var(--padding-small);
}
li {
  padding: var(--padding-small);
}
li:nth-child(odd) {
  background: #eee;
}

.with-sidebar {
  overflow: hidden;
}
.with-sidebar > * {
  display: flex;
  flex-wrap: flex;
  margin: calc(var(--sidebar-gutter) / 2 * -1);
}
.with-sidebar > * > * {
  margin: calc(var(--sidebar-gutter) / 2);
  flex-grow: 1;
}
.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 9999;
  min-width: calc(75% - var(--sidebar-gutter));
}

.rows > * {
  margin: 0;
}
.rows > * + * {
  margin-top: 0.7em;
}

.req-timestamp {
  color: var(--text-lighter);
}
