{:ar
 #:account{
           }
 :en
 #:email{
         :confirmation-pending "Confirmation pending"
         :confirmed "Confirmed"
         :delete "Delete"
         :email "Email"
         :email-settings "Email settings"
         :make-primary "Make primary"
         :primary "Primary"
         :resend-confirmation "Resend confirmation"
         :to-add-email-confirm-pending "To add another email, first confirm any pending email addresses."
         :unexpected-error "Unexpected error. Please try again later."
         :updated-primary "Updated primary email"
         }
 :es
 #:account{
           }
 }
