:root {
  --blueberry: #3d0575;
  --hot-pink: #f5a;
  --pale-pink: #ffd4db;
}

* {
  box-sizing: border-box;
}

body {
  width: 70ch;
  max-width: 90%;
  margin: auto;
  padding: 0 1em;

  background: var(--hot-pink);
  color: var(--blueberry);
}

main {
  margin-bottom: 10em;
}

img {
  max-width: 100%;
}

.hero-slideshow img {
  display: block;
}

.hero-slideshow--handles {
  display: flex;
}

.slide {
  padding: 0.5em;
  background: var(--pale-pink);
  cursor: pointer;
}
.slide h2 {
  margin-top: 0;
}
