{:ar
 #:account{
           }
 :en
 #:account{
           :account "Account"
           :account-details "Account details"
           :account-updated "Account details have been updated."
           :date-format-default "EEE, LLL d"
           :invalid-action "Invalid action."
           :last-active-at "Last active %s"
           :leave-passwords-blank "Leave password fields blank to keep your current password."
           :logged-in-at "Logged in at %s"
           :name "Name"
           :email "Email"
           :preferred-language "Preferred language"
           :pronouns "Pronouns"
           :pronouns-example "they/them/theirs"
           :save "Save"
           :session-deleted "Session deleted."
           :this-session "This session"
           :timezone "Timezone"
           :your-sessions "Your login sessions"
           }
 :es
 #:account{
           }
 }
