{
 :en
 #:signup{
          :all-fields-required "All fields are required."
          :error "Account locked"
          :invitation-invalid "This invitation is invalid or has already been redeemed."
          :please-choose-username-password "Please choose a username and password."
          :signup "Signup"
          :site-invite-only "This site is invite-only."
          :create-account "Create account"
          }
 }
