:root {
  --content-width: 85ch;
  --content-max-width: calc(100% - 4ch);

  --gap-multiplier: 2;
  --gap-standard: 1em;
  --gap-tiny:     calc(var(--gap-standard) * pow(var(--gap-multiplier), -2));
  --gap-small:    calc(var(--gap-standard) * pow(var(--gap-multiplier), -1));
  --gap-large:    calc(var(--gap-standard) * pow(var(--gap-multiplier), 1));
  --gap-spacious: calc(var(--gap-standard) * pow(var(--gap-multiplier), 2));
  --line-height: 1.5;

  --stroke-width: 2px;
  --stroke-style: solid;
  --stroke-style-hover: dashed;
  --weight-heavy: 700;

  /* Dark theme */
  --color-theme-dark-text-body:         hsl(300, 80%, 95%);
  --color-theme-dark-text-emphasis:     hsl(300.7, 66%, 65.3%);
  --color-theme-dark-stroke-emphasis:   hsl(258.6, 100%, 74.7%);
  --color-theme-dark-stroke-secondary:  hsl(300, 75%, 12.5%);
  --color-theme-dark-stroke-tertiary:   hsl(300, 17.8%, 17.6%);
  --color-theme-dark-text-success:      hsl(326, 68.3%, 62.9%);
  --color-theme-dark-stroke-success:    hsl(314.9, 52.7%, 46.5%);
  --color-theme-dark-text-error:        hsl(326, 68.3%, 62.9%);
  --color-theme-dark-stroke-error:      hsl(315, 32.8%, 23.9%);
  --color-theme-dark-text-secondary:    hsl(256, 44%, 73.5%);
  --color-theme-dark-bg:                hsl(264, 41.7%, 4.7%);

  /* Light theme */
  --color-theme-light-text-body:        hsl(263.9, 79%, 24.3%);
  --color-theme-light-text-emphasis:    hsl(280.9, 52.6%, 42.2%);
  --color-theme-light-stroke-emphasis:  hsl(290, 33.3%, 49.4%);
  --color-theme-light-stroke-secondary: hsl(300, 75%, 12.5%);
  --color-theme-light-text-success:     hsl(253.4, 84.7%, 61.6%);
  --color-theme-light-stroke-success:   hsl(258.7, 52.7%, 46.5%);
  --color-theme-light-text-error:       hsl(309, 80.9%, 45.1%);
  --color-theme-light-stroke-error:     hsl(309.3, 100%, 75.9%);
  --color-theme-light-text-secondary:   hsl(280.3, 42.7%, 36.3%);
  --color-theme-light-stroke-tertiary:  hsl(300, 17.8%, 17.6%);
  --color-theme-light-bg:               hsl(300, 12.8%, 92.4%);

  --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-text-body:        var(--color-theme-dark-text-body);
    --color-text-emphasis:    var(--color-theme-dark-text-emphasis);
    --color-text-secondary:   var(--color-theme-dark-text-secondary);
    --color-text-success:     var(--color-theme-dark-text-success);
    --color-text-error:       var(--color-theme-dark-text-error);
    --color-stroke-emphasis:  var(--color-theme-dark-stroke-emphasis);
    --color-stroke-secondary: var(--color-theme-dark-stroke-secondary);
    --color-stroke-tertiary:  var(--color-theme-dark-stroke-tertiary);
    --color-stroke-success:   var(--color-theme-dark-stroke-success);
    --color-stroke-error:     var(--color-theme-dark-stroke-error);
    --color-bg:               var(--color-theme-dark-bg);
  }
}
html[data-theme=dark] {
  --color-text-body:        var(--color-theme-dark-text-body);
  --color-text-emphasis:    var(--color-theme-dark-text-emphasis);
  --color-text-secondary:   var(--color-theme-dark-text-secondary);
  --color-text-success:     var(--color-theme-dark-text-success);
  --color-text-error:       var(--color-theme-dark-text-error);
  --color-stroke-emphasis:  var(--color-theme-dark-stroke-emphasis);
  --color-stroke-secondary: var(--color-theme-dark-stroke-secondary);
  --color-stroke-tertiary:  var(--color-theme-dark-stroke-tertiary);
  --color-stroke-success:   var(--color-theme-dark-stroke-success);
  --color-stroke-error:     var(--color-theme-dark-stroke-error);
  --color-bg:               var(--color-theme-dark-bg);
}
@media (prefers-color-scheme: light) {
  :root {
    --color-text-body:        var(--color-theme-light-text-body);
    --color-text-emphasis:    var(--color-theme-light-text-emphasis);
    --color-text-secondary:   var(--color-theme-light-text-secondary);
    --color-text-success:     var(--color-theme-light-text-success);
    --color-text-error:       var(--color-theme-light-text-error);
    --color-stroke-emphasis:  var(--color-theme-light-stroke-emphasis);
    --color-stroke-secondary: var(--color-theme-light-stroke-secondary);
    --color-stroke-tertiary:  var(--color-theme-light-stroke-tertiary);
    --color-stroke-success:   var(--color-theme-light-stroke-success);
    --color-stroke-error:     var(--color-theme-light-stroke-error);
    --color-bg:               var(--color-theme-light-bg);
  }
}
html[data-theme=light] {
  --color-text-body:        var(--color-theme-light-text-body);
  --color-text-emphasis:    var(--color-theme-light-text-emphasis);
  --color-text-secondary:   var(--color-theme-light-text-secondary);
  --color-text-success:     var(--color-theme-light-text-success);
  --color-text-error:       var(--color-theme-light-text-error);
  --color-stroke-emphasis:  var(--color-theme-light-stroke-emphasis);
  --color-stroke-secondary: var(--color-theme-light-stroke-secondary);
  --color-stroke-tertiary:  var(--color-theme-light-stroke-tertiary);
  --color-stroke-success:   var(--color-theme-light-stroke-success);
  --color-stroke-error:     var(--color-theme-light-stroke-error);
  --color-bg:               var(--color-theme-light-bg);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  line-height: var(--line-height);

  color: var(--color-text-body);
  background: var(--color-bg);
}
nav, header, main, article, section, footer, aside {
  &, & > div {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--gap-standard);
  }
}
article > section {
  gap: var(--gap-small);
}
nav {
  align-items: center;
  padding: var(--gap-standard);
  border-bottom: var(--stroke-width) dashed var(--color-stroke-emphasis);
}
main {
  width: var(--content-width);
  max-width: var(--content-max-width);
  margin: var(--gap-spacious) auto;
}
h1, h2, h3, h4, h5, h6, p, ol, ul, form, div,
nav, header, article, section, footer, aside, p, pre {
  margin: 0;
}
h5, h6 {
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-emphasis);
}
ol, ul {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--gap-small);
}
pre {
  padding: var(--gap-standard);
  max-width: calc(100% - 2 * var(--gap-standard));
  color: hsl(329.8, 100%, 76.3%);
  background: #2b182b;
  overflow-x: scroll;
}
hr {
  width: 100%;
  border: var(--stroke-width) solid var(--color-stroke-secondary);
}

a {
  color: var(--color-text-emphasis);
  text-decoration: underline var(--stroke-width);
}
a:visited, [data-visited] {
  color: var(--color-text-secondary);
}
a:hover, a[data-hover] {
  text-decoration-style: dashed;
}
summary {
  cursor: pointer;
}

label {
  font-weight: var(--weight-heavy);
}
select {
  cursor: pointer;
}
input, select {
  padding: 12px;
  border: var(--stroke-width) var(--stroke-style) var(--color-text-body);
}
button, input, select {
  color: var(--color-text-body);
  background: var(--color-bg);
  border: var(--stroke-width) var(--stroke-style) var(--color-text-body);
  border-radius: 0;
}
button {
  padding: 10px 12px;
  cursor: pointer;
  font-weight: var(--weight-heavy);
  font-size: 1rem;
}
:is(button, input, select):focus {
  outline: var(--stroke-width) var(--stroke-style) var(--color-stroke-emphasis);
  border-color: transparent;
}
button:hover {
  border-color: transparent;
  outline: var(--stroke-width) dashed var(--color-stroke-emphasis);
  color: var(--color-text-emphasis);
}

.flex {
  display: flex;
  gap: var(--gap-standard);
}
.col {
  flex-flow: column nowrap;
}
.row {
  flex-flow: row nowrap;
  justify-content: space-between;
}
.spacer {
  flex: 1;
}
.center {
  display: flex;
  justify-content: center;
}
.gap-tiny {
  gap: var(--gap-tiny);
}
.gap-small {
  gap: var(--gap-small);
}
.gap-standard {
  gap: var(--gap-standard);
}
.gap-large {
  gap: var(--gap-large);
}
.gap-spacious {
  gap: var(--gap-spacious);
}

.field {
  display: flex;
  flex-flow: row nowrap;
  gap: 3ch;
  justify-content: space-between;
  align-items: center;
}
.field label {
  flex: 1;
}
.field :is(input, select) {
  flex: 2;
}
.instruct {
  color: var(--color-text-secondary);
}
.emphasis {
  font-weight: var(--weight-heavy);
  color: var(--color-text-emphasis);
  border: var(--stroke-width) dashed var(--color-stroke-emphasis);
  padding: var(--gap-standard);
}
.success {
  font-weight: var(--weight-heavy);
  color: var(--color-text-success);
  border: var(--border-width) dashed var(--color-stroke-success);
  padding: var(--gap-standard);
}
.error {
  font-weight: var(--weight-heavy);
  color: var(--color-text-error);
  border: var(--stroke-width) dashed var(--color-stroke-error);
  padding: var(--gap-standard);
}
