*, *::before, *::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

body {
  width: 70ch;
  max-width: 100%;
  margin: auto;
  font-family: ui-monospace,
    Menlo,
    Monaco,
    "Cascadia Mono",
    "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Mono",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Consolas",
    "Courier New",
    monospace;
}

/* SIDEBAR LAYOUT */
.container {
  display: flex;
  flex-wrap: wrap;
}
.container > nav {
  flex-basis: 25ch;
  flex-grow: 1;
  min-inline-size: 30%;
}
main {
  flex-basis: 0;
  flex-grow: 999;
  min-height: 80vh;
}
.container > footer {
  min-height: 20vh;
}
